.aboutt {
    width: 90%;
    display: flex;
    margin-top: 4em;
    margin-bottom: 4em;
    font-family:  Arial, Helvetica, sans-serif;
    
  }
  
  .about_logoCont {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
  }
  
  .about_logoCont > img {
    width: 65%;
    height: 85%;
    border-radius: 50px;
  }
  
  .about_dataCont {
    flex-basis: 55%;
  }
  
  .about_dataCont > h4:nth-child(1) {
    margin-top: 0;
  }
  
  .about_dataCont > h4:nth-child(2) {
    margin-top: 1.4em;
    line-height: 1.4em;
  }
  
  .about_dataCont > h4 {
    font-size: 1.1em;
    margin-top: 0.5em;
  }
  
  .icons {
    position: relative;
    top: 5px;
    color: var(--clr-fg-alt);
    margin-right: 0.5em;
  }
  
  @media (max-width: 600px) {
    .aboutt {
      flex-direction: column;
      margin-top: 2em;
    }
    .about_logoCont {
      margin-bottom: 3em;
      flex-basis: 30%;
    }
    .about_logoCont > img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
    .about_dataCont {
      padding-left: 10%;
      padding-right: 10%;
      flex-basis: 70%;
    }
   
  }